cmake-build-*
.idea
.DS_Store
build
dist
*.egg-info
*.pyc

# Third-party links created by `setup.py develop`
asym_gemm/include/cute
asym_gemm/include/cutlass

# VS Code settings
/.vscode

# clangd settings
/.clang*
/.cache

# Generated stub files
stubs/

# Symlinks to compiled extensions
asym_gemm/*.sothird_party/
3rdparty/
extern/
external/
vendor/
submodules/
